#contenedor {
 min-height: 500px;
 margin: 20px;
 width: 96%;
}

#contenedor > div {
  background-color: white;
  display: inline-block;
  height: 200px;
  margin: 20px;
  width: 300px;
}

#contenedor > div > img {
  height: 100px;
  width: 100px;
}

#contenedor > div > div > p {
  font-weight: bold;
}

#filter {
  border: 1px solid #EDEFF6;
  margin-top: 20px;
  margin-left: 2%;
  padding: 5px;
}

#filter:focus {
  border: 2px solid #FFC107;
  outline: none;
}
