
button {
  border: none;
  background: white;
  outline:  1px solid #ffc107;
  width: 120px;
  font-weight: bold;
}

nav {
  width: 120px;
  margin: 0px;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0px;
}

li:hover {
  background-color: orange;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}

a:hover {
  color: white;
}

.enable-menu {
  display: block;
}

.disable-menu {
  display: none;
}

.contenedor {
  background: #ffc107;
  width: 120px;
  float: right;
  margin-top: 120px;
  margin-right: 15px;
}
