#contenedor {
 min-height: 500px;
 margin: 20px;
 width: 96%;
}

#contenedor > div {
  outline: 3px solid #FFC107;
  background-color: white;
  display: inline-block;
  height: 250px;
  margin: 20px;
  width: 300px;
}

#contenedor > div > img {
  height: 100px;
  width: 100px;
}

#contenedor > div > div > p {
  font-weight: bold;
  background-color: #FFC107;
  display: inline-block;
  width: 250px;
  height: 30px;
  margin: 10px;
  text-align: center;
  padding-top: 10px;
}

/*#contenedor > div > div {
  outline: 3px solid #FFC107;
}*/

#contenedor > div > div > .cuadritos {
  outline: 3px solid #FFC107;
}


#filter {
  border: 1px solid #EDEFF6;
  margin-top: 20px;
  margin-left: 2%;
  padding: 5px;
}

#filter:focus {
  border: 2px solid #FFC107;
  outline: none;
}
