/*TAGS*/
/*ID'S*/

#button_select {
  border: 1px solid #EDEFF6;
  margin-top: 20px;
  margin-left: 2%;
  padding: 5px;
}

#button_select:focus {
  border: 2px solid #FFC107;
  outline: none;
}

/*CLASES*/
.container {
  background-color: pink;
  display: inline-block;
  float: right;
  width: 79.5%;
}

.container > .filtro {
  height: 3vh;
  margin: 0px auto;
  display: block;
  width: 30%;
  }

.graphics {
  background-color: #EFEFEF;
  border-radius: 15px;
  display: inline-block;
  margin: 30px 20px;
  outline: 1px solid blue;
  width:39.5%;
}

.graphics > h3 {
  margin-bottom: 40px;
}

.graphics > span {
  background-color: #FFC107;
  border-radius: 15px;
  padding: 25px;
}

.graphics2 {
  width:79%;
  display: inline-block;
  background-color: #EFEFEF;
  border-radius: 15px;
  padding: 25px;
  margin: 30px 20px 30px 50px;
  outline: 1px solid blue;
}

.graphics2 > h3 {
  margin-bottom: 40px;
}

.graphics2 > span {
  background-color: #FFC107;
  border-radius: 15px;
  padding: 25px;
}

.clear {
  clear: both;
}

.display-i-b {
  display: inline-block;
}
