/*TAGS*/
body {
  margin: 0;
}

header {
  background-color: white;
  border-bottom: 1px solid #EDEFF6;
  height: 60px;
  position: fixed;
  width: 100%;
}

header > div.logo {
  margin: 6px 2px;
}

header > div.user {
  margin: 3px 40px 3px 0px;
}

header > div.user > img {
  border-radius: 50px;
  height: 50px;
  width: 50px;
}

header > div.user > p {
  margin: 0;
  margin-right: 10px;
}

/*ID'S*/
#main_menu {
  background-color: white;
  border-right: 1px solid #EDEFF6;
  margin-top: 61px;
  min-height: 600px;
  position: fixed;
  width: 20%;
}

#main_container {
  background-color: red;
  border-top: 61px solid white;
  min-height: 600px;
  margin-left: 20%;
  width: 80%;
}

#menu {
  margin: 0;
  padding-top: 170px;
  text-align: center;
}

/*#menu > div {
  background-color: #FFC107;
  border: 1px solid #FFC107;
  border-radius: 10px;
  height: 40px;
  margin: 25px auto;
  width: 120px;
}*/

#menu > div > button {
  background-color: #FFC107;
  border: 1px solid #FFC107;
  border-radius: 10px;
  height: 40px;
  margin: 15px auto;
  width: 120px;
}

#menu > div {
  margin: 5px auto;
}

#select_sede > select {
  border: 1px solid #EDEFF6;
  margin-top: 20px;
  margin-left: 2%;
  padding: 5px;
}

#select_sede > select:focus {
  border: 2px solid #FFC107;
  outline: none;
}

/*CLASES*/

.clear-b {
  clear: both;
}

.display-i-b {
  display: inline-block;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
