<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Coders</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/coders.css">
  </head>
  <body>
    <header>
      <div class="logo float-left">
        <img src="../assets/images/Logo.png" alt="Logo">
      </div>
      <div class="user float-right">
        <p class="display-i-b">User name</p>
        <img class="display-i-b" src="../assets/icons/user-logo.ico" alt="photo">
      </div>
    </header>
<!-- Utilicé section para que sea más fácil ubicarlo y modificarlo, si tienen
otra idea avísenme -->
    <section id="main_menu">
      <section id="menu">
        <div>
          <button id="coders" class="display-i-b">CODERS</button>
        </div>
        <div>
          <button id="overview" class="display-i-b">OVERVIEW</button> <!-- Este es nombre opcional para que lo chequen -->
        </div>
        <div>
          <button id="teachers" class="display-i-b">TEACHERS</button>
        </div>
      </section>
     </section>
    <section id="main_container" >
      <!--aquí debe de estar tu código -->
     <select id="filter">
          <option>Selecciona una sede</option>
          <option value="AQP" data-sede="AQP" data-generacion="2016-2">Arequipa, 2016-2</option>
          <option value="AQP" data-sede="AQP" data-generacion="2017-1">Arequipa, 2017-1</option>
          <option value="CDMX" data-sede="CDMX" data-generacion="2017-1">CDMX, 2017-1</option>
          <option value="CDMX" data-sede="CDMX" data-generacion="2017-2">CDMX, 2017-2</option>
          <option value="LIM" data-sede="LIM" data-generacion="2016-2">Lima, 2016-1</option>
          <option value="LIM" data-sede="LIM" data-generacion="2017-1">Lima, 2017-1</option>
          <option value="LIM" data-sede="LIM" data-generacion="2017-2">Lima, 2017-2</option>
          <option value="SCL" data-sede="SCL" data-generacion="2016-2">Santiago de Chile, 2016-1</option>
          <option value="SCL" data-sede="SCL" data-generacion="2017-1">Santiago de Chile, 2017-1</option>
          <option value="SCL" data-sede="SCL" data-generacion="2017-2">Santiago de Chile, 2017-2</option>
      </select>
      <section id="contenedor">
          <!--<div>
            <img src="http://dummyimage.com/162x148.png/ff4444/ffffff" class="photo">
            <div>
              <p>Lila Salas</p>
              <p>sprint</p>
            </div>
          </div>-->
      </section>
    </section>

    <!-- Base de datos -->
		<script src="../js/data.js"></script>
		<!-- Aquí va tus archivos JS -->
    <!-- Puedes quitarle el comentario cuando la ocupes <script src="../js/appcoders.js"></script> -->
    <script src="../js/app.js"></script>
    <script src="../js/appcodersdata.js"></script>
  </body>
</html>
