<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Coders</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/coders.css">
  </head>
  <body>
    <header>
      <div class="logo float-left">
        <img src="../assets/images/logo.png" alt="Logo">
      </div>
      <div class="user float-right">
        <p class="display-i-b">User name</p>
        <img class="display-i-b" src="../assets/icons/user-logo.ico" alt="photo">
      </div>
    </header>
<!-- Utilicé section para que sea más fácil ubicarlo y modificarlo, si tienen
otra idea avísenme -->
    <section id="main_menu">
      <section id="menu">
        <div class="">
          <p class="display-i-b">CODERS</p>
        </div>
        <div class="">
          <p class="display-i-b">OVERVIEW</p>
        </div>
        <div class="">
          <p class="display-i-b">TEACHERS</p>
        </div>
      </section>
    </section>
    <div class="contenedor"><!--aqui comienzan los botones-->
   <button id="btn">
    <p>Specialization</p>
   </button>
   <nav id="opcs-menu"class="disable-menu">
    <ul>
      <li><a href="#">UX-Desing</a></li>
      <li><a href="#">Front end Designer</a></li>
      <li><a href="#">Javascript</a></li>
    </ul>
   </nav>
  </div>
  <div class="contenedor"><!--segundo boton-->
  <button id="btn">
  <p>Sede</p>
  </button>
  <nav id="opcs-menu"class="disable-menu">
  <ul>
    <li><a href="#">UX-Desing</a></li>
    <li><a href="#">Front end Designer</a></li>
    <li><a href="#">Javascript</a></li>
  </ul>
  </nav>
  </div>
  <div class="contenedor"><!--tercer boton-->
 <button id="btn">
  <p>Generation</p>
 </button>
 <nav id="opcs-menu"class="disable-menu">
  <ul>
    <li><a href="#">UX-Desing</a></li>
    <li><a href="#">Front end Designer</a></li>
    <li><a href="#">Javascript</a></li>
  </ul>
 </nav>
</div>
    <!-- Base de datos -->
		<script src="../js/data.js"></script>
		<!-- Aquí va tus archivos JS -->
    <script src="../js/app.js"></script>

  </body>
</html>
