<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sedes</title>

    <!--Este es el link del css-->
    <link rel="stylesheet" href="../css/main-sede.css">
    </head>



  <body>
    <!--Barra superior del usuario y logos-->
    <header>
      <img class ="logo" src="../assets/images/Logo.png" alt="logo" width="100px">
      <p class="float-rigth">USER NAME</p>
    </header>
    <!--Barra de navegación botones que tienen los enlaces de coders, y teachers-->
    <nav id="main_menu" class="clear">
      <button type="button" name="button">Inicio</button>
      <button type="button" name="button">Coders</button>
      <button type="button" name="button">Teachers</button>
    </nav>
    <!-- Filtro para desatar evento que mostrara la información por sedes-->
    <section class="container " >
      <select class="filtro"  >
        <option >Selecciona una sede </option>
        <option value = "SEDE" data-sede="AQP" data-generacion ="2016-2">Aqueripa, generación 2017-1</option>
        <option value = "SEDE" data-sede="AQP" data-generacion ="2017-1">Aqueripa, generación 2016-2</option>
        <option value = "SEDE" data-sede="CDMX" data-generacion ="2017-2">Ciudad de México, generación 2017-2</option>
        <option value = "SEDE" data-sede="CDMX" data-generacion ="2017-1">Ciudad de México, generación 2017-1</option>
        <option value = "SEDE" data-sede="LIM" data-generacion ="2017-2">Lima, generación 2017-2</option>
        <option value = "SEDE" data-sede="LIM" data-generacion ="2017-1">Lima, generación 2017-1</option>
        <option value = "SEDE" data-sede="LIM" data-generacion ="2016-2">Lima, generación 2017-1</option>
        <option value = "SCL" data-sede="SCL" data-generacion ="2017-1">Santiago de Chile, generación 2017-2</option>
        <option value = "SCL" data-sede="SCL" data-generacion ="2017-1">Santiago de Chile, generación 2017-1</option>
        <option value = "SCL" data-sede="SCL" data-generacion ="2016-2">Santiago de Chile, generación 2016-2</option>
      </select>
      <!--Agregando el div que creo tendra la gráfica enrollment-->
      <section class="graphics " id="enrollment">
        <h3>ENROLLMENT</h3>
        <span>number</span>
        <span>PORCENT</span>



      <!--Agregando el div que creo tendra la gráfica aquievement-->
      </section>
      <section class="graphics" id="aquievement">
        <h3>AQUIEVEMENT</h3>
        <span>number</span>
        <span>PORCENT</span>

      <!--Agregando el div que creo tendra la gráfica net promoter -->
      </section>
      <section class="graphics" id="net_promoter">
        <h3>NET PROMOTER SCORE</h3>
        <span>number</span>
        <span>PORCENT</span>
      </section>
      <!-- Agregando el div que creo tendra la gráfica students stisfaction -->
      <section class="graphics" id="student_satisfaction">
          <h3>STUDENT SATISFACTION</h3>
          <span>number</span>
          <span>PORCENT</span>
      </section>
      <!--Agregando el div que creo tendra la gráfica tech skills  -->
      <section class="graphics2" id="tech_skills">
        <h3>TECH SKillS</h3>
        <span>number</span>
        <span>PORCENT</span>
      </section>
      <!--  -->
      <section class="graphics2" id="life_skills">
        <h3>LIFE SKillS</h3>
        <span>number</span>
        <span>PORCENT</span>
      </section>

    </section>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
    google.charts.load('current', {'packages':['table']});
      google.charts.setOnLoadCallback(drawTable);

      function drawTable() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Name');
        data.addColumn('number', "Porcent %");
        data.addRows([
          ['Promoter', 30 ],
          ["Pasive",   50 ],
          ["Detractor",20  ],

        ]);

        var table = new google.visualization.Table(document.getElementById('table_div'));

        table.draw(data, {showRowNumber: true, width: "30%", height: "300px"});
      }
    </script>

    <!--Unióm con javascript para unir las funciones-->
    <script type="text/javascript" src="../js/app-sede.js"></script>
    <!--Unión con javascript para unir la data-->
    <script type="text/javascript" src="../js/data.js"></script>

  </body>
</html>
