<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Overview</title>
    <!--Son los links del css uno general y otro especifico-->
    <link rel="stylesheet" href="../css/main-sede.css">
    <link rel="stylesheet" href="../css/main.css">
    </head>
  <body>
    <!--Barra superior del usuario y logos-->
    <header>
      <div class="logo float-left">
        <img src="../assets/images/Logo.png" alt="Logo">
      </div>
      <div class="user float-right">
        <p class="display-i-b">User name</p>
        <img class="display-i-b" src="../assets/icons/user-logo.ico" alt="photo">
      </div>
    </header>
    <!-- Utilicé section Para el menú para que sea fácil ubicarlo -->
    <section id="main_menu">
      <section id="home">
        <button type="button" name="Inicio">
          <img src="../assets/images/home.jpg" alt="Inicio">Inicio
        </button>
      </section>
      <section id="menu">
        <div>
          <button id="coders" class="display-i-b">CODERS</button>
        </div>
        <div>
          <button id="overview" class="display-i-b">OVERVIEW</button> <!-- Este es nombre opcional para que lo chequen -->
        </div>
        <div>
          <button id="teachers" class="display-i-b">TEACHERS</button>
        </div>
      </section>
    </section>
    <!-- Un section que contenga toda la información relevante-->
    <section id="main_container" class="container" >
      <!-- Filtro para desatar evento que mostrara la información por sedes-->
        <select id="button_select">
          <option data-sede="nothing" >Selecciona una sede </option>
          <option data-generation="2016-2"  data-sede="AQP" >Aqueripa, 2016-2</option>
          <option data-generation="2017-1" data-sede="AQP" > Aqueripa, 2017-1</option>
          <option data-generation="2017-1" data-sede="CDMX" >Ciudad de México, 2017-1</option>
          <option data-generation="2017-2" data-sede="CDMX" >Ciudad de México, 2017-2</option>
          <option data-generation="2016-2" data-sede="LIM" >Lima, 2016-2</option>
          <option data-generation="2017-1" data-sede="LIM" >Lima, 2017-1</option>
          <option data-generation="2017-2" data-sede="LIM" >Lima, 2017-2</option>
          <option data-generation="2016-2" data-sede="SCL" >Santiago de Chile, 2016-2</option>
          <option data-generation="2017-1" data-sede="SCL" >Santiago de Chile, 2017-1</option>
          <option data-generation="2017-2" data-sede="SCL" >Santiago de Chile, 2017-2</option>

        </select>
        <!--Agrego un section con id AQP 2017-1 que es mi contenedor de información de esa sede y generación-->
        <section  id="AQP 2017-1" >
          <!--Agregando el div que creo tendra la gráfica enrollment -->
          <section class="graphics enrollment" >
            <h3>ENROLLMENT</h3>
            <span>number</span>
            <span>PORCENT</span>
          <!--Agregando el div que creo tendra la gráfica aquievement-->
          </section>
          <section class="graphics aquievement" >
            <h3>AQUIEVEMENT</h3>
            <span>number</span>
            <span>PORCENT</span>
          <!--Agregando el div que creo tendra la gráfica net promoter -->
          </section>
          <section class="graphics net-promoter" >
            <h3>NET PROMOTER SCORE</h3>
            <span>number</span>
            <span>PORCENT</span>
          </section>
          <!-- Agregando el div que creo tendra la gráfica students stisfaction -->
          <section class="graphics student-satisfaction" >
            <h3>STUDENT SATISFACTION</h3>
            <span>number</span>
            <span>PORCENT</span>
          </section>
          <!--Agregando el div que creo tendra la gráfica tech skills  -->
          <section class="graphics2 tech-skills" >
            <h3>TECH SKillS</h3>
            <span>number</span>
            <span>PORCENT</span>
          </section>
          <!-- Agregando el div que tendra la gráfica de life skills -->
          <section class="graphics2 life-skills" >
            <h3>LIFE SKillS</h3>
            <span>number</span>
            <span>PORCENT</span>
          </section>
        </section> <!--Cierre de Aqueripa generacion 2017-1-->
        <!-- Agregar contenedor de generación Aqueripa 2016-2
        <section  id="AQP 2016-2" >
          <!- Agregando el div que creo tendra la gráfica enrollment -->
          <section class="graphics enrollment" >
            <h3>ENROLLMENT</h3>
            <span>number</span>
            <span>PORCENT</span>
          <!--Agregando el div que creo tendra la gráfica aquievement-->
          </section>
          <section class="graphics aquievement" >
            <h3>AQUIEVEMENT</h3>
            <span>number</span>
            <span>PORCENT</span>
          <!--Agregando el div que creo tendra la gráfica net promoter -->
          </section>
          <section class="graphics net-promoter" >
            <h3>NET PROMOTER SCORE</h3>
            <span>number</span>
            <span>PORCENT</span>
          </section>
          <!-- Agregando el div que creo tendra la gráfica students stisfaction -->
          <section class="graphics student-satisfaction" >
            <h3>STUDENT SATISFACTION</h3>
            <span>number</span>
            <span>PORCENT</span>
          </section>
          <!--Agregando el div que creo tendra la gráfica tech skills  -->
            <section class="graphics2 tech-skills" >
              <h3>TECH SKillS</h3>
              <span>number</span>
              <span>PORCENT</span>
            </section>
          <!-- Agregando el div que tendra la gráfica de life skills -->
            <section class="graphics2 life-skills" >
              <h3>LIFE SKillS</h3>
              <span>number</span>
              <span>PORCENT</span>
            </section>
          </section> <!--Cierre de Aqueripa generacion 2016-2-->

          <!--Agrego un section con id CDMX 2017-2  que es mi contenedor de información de esa sede y generación-->
          <section  id="CDMX 2017-2" >
          <!--Agregando el div que creo tendra la gráfica enrollment -->
            <section class="graphics enrollment" >
              <h3>ENROLLMENT</h3>
              <span>number</span>
              <span>PORCENT</span>
          <!--Agregando el div que creo tendra la gráfica aquievement-->
            </section>
            <section class="graphics aquievement" >
              <h3>AQUIEVEMENT</h3>
              <span>number</span>
              <span>PORCENT</span>
          <!--Agregando el div que creo tendra la gráfica net promoter -->
            </section>
            <section class="graphics net-promoter" >
              <h3>NET PROMOTER SCORE</h3>
              <span>number</span>
              <span>PORCENT</span>
            </section>
          <!-- Agregando el div que creo tendra la gráfica students stisfaction -->
          <section class="graphics student-satisfaction" >
            <h3>STUDENT SATISFACTION</h3>
            <span>number</span>
            <span>PORCENT</span>
          </section>
          <!--Agregando el div que creo tendra la gráfica tech skills  -->
          <section class="graphics2 tech-skills" >
            <h3>TECH SKillS</h3>
            <span>number</span>
            <span>PORCENT</span>
          </section>
          <!-- Agregando el div que tendra la gráfica de life skills -->
          <section class="graphics2 life-skills" >
            <h3>LIFE SKillS</h3>
            <span>number</span>
            <span>PORCENT</span>
          </section>
        </section> <!--Cierre de CDMX generacion 2017-2-->
          </section> <!--Es el cierre del container, no tocar-->
    <!-- Base de datos y funciones -->
    <script src="../js/data.js"></script>
    <script src="../js/appsededata.js"></script>
    <!-- Unión con js general -->
    <script src="../js/app.js"></script>
  </body>
</html>
