<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sedes</title>

    <!--Este es el link del css-->
    <link rel="stylesheet" href="../css/main-sede.css">
    <link rel="stylesheet" href="../css/main.css">
    </head>
  <body>
    <!--Barra superior del usuario y logos-->
    <header>
      <div class="logo float-left">
        <img src="../assets/images/Logo.png" alt="Logo">
      </div>
      <div class="user float-right">
        <p class="display-i-b">User name</p>
        <img class="display-i-b" src="../assets/icons/user-logo.ico" alt="photo">
      </div>
    </header>
    <!-- Utilicé section para que sea más fácil ubicarlo y modificarlo, si tienen
    otra idea avísenme -->
    <section id="main_menu">
      <section id="menu">
        <div>
          <button id="coders" class="display-i-b">CODERS</button>
        </div>
        <div>
          <button id="overview" class="display-i-b">OVERVIEW</button> <!-- Este es nombre opcional para que lo chequen -->
        </div>
        <div>
          <button id="teachers" class="display-i-b">TEACHERS</button>
        </div>
      </section>
    </section>
    <section id="main_container" >
      <!-- Aquí debe de ir tu código -->
      <!-- Filtro para desatar evento que mostrara la información por sedes-->
      <section class="container " >
        <select class="filtro" id="button_select"  >
          <option >Selecciona una sede </option>
          <option value = "SEDE" data-sede="AQP" data-generacion ="2016-2">Aqueripa, generación 2017-1</option>
          <option value = "SEDE" data-sede="AQP" data-generacion ="2017-1">Aqueripa, generación 2016-2</option>
          <option value = "SEDE" data-sede="CDMX" data-generacion ="2017-2">Ciudad de México, generación 2017-2</option>
          <option value = "SEDE" data-sede="CDMX" data-generacion ="2017-1">Ciudad de México, generación 2017-1</option>
          <option value = "SEDE" data-sede="LIM" data-generacion ="2017-2">Lima, generación 2017-2</option>
          <option value = "SEDE" data-sede="LIM" data-generacion ="2017-1">Lima, generación 2017-1</option>
          <option value = "SEDE" data-sede="LIM" data-generacion ="2016-2">Lima, generación 2017-1</option>
          <option value = "SCL" data-sede="SCL" data-generacion ="2017-1">Santiago de Chile, generación 2017-2</option>
          <option value = "SCL" data-sede="SCL" data-generacion ="2017-1">Santiago de Chile, generación 2017-1</option>
          <option value = "SCL" data-sede="SCL" data-generacion ="2016-2">Santiago de Chile, generación 2016-2</option>
        </select>
        <!--Agregando el div que creo tendra la gráfica enrollment-->
        <section class="graphics " id="enrollment">
          <h3>ENROLLMENT</h3>
          <span>number</span>
          <span>PORCENT</span>
        <!--Agregando el div que creo tendra la gráfica aquievement-->
        </section>
        <section class="graphics" id="aquievement">
          <h3>AQUIEVEMENT</h3>
          <span>number</span>
          <span>PORCENT</span>

        <!--Agregando el div que creo tendra la gráfica net promoter -->
        </section>
        <section class="graphics" id="net_promoter">
          <h3>NET PROMOTER SCORE</h3>
          <span>number</span>
          <span>PORCENT</span>
        </section>
        <!-- Agregando el div que creo tendra la gráfica students stisfaction -->
        <section class="graphics" id="student_satisfaction">
            <h3>STUDENT SATISFACTION</h3>
            <span>number</span>
            <span>PORCENT</span>
        </section>
        <!--Agregando el div que creo tendra la gráfica tech skills  -->
        <section class="graphics2" id="tech_skills">
          <h3>TECH SKillS</h3>
          <span>number</span>
          <span>PORCENT</span>
        </section>
        <!--  -->
        <section class="graphics2" id="life_skills">
          <h3>LIFE SKillS</h3>
          <span>number</span>
          <span>PORCENT</span>
        </section>

      </section>
    </section>

    <!-- Base de datos -->
    <script src="../js/data.js"></script>
    <!-- Aquí va tus archivos JS -->
    <script src="../js/app.js"></script>
    <script src="../js/app-sede.js"></script>
  </body>
</html>
