<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Teachers</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/teachers.css">
  </head>
  <body>
    <header>
      <div class="logo float-left">
        <img src="../assets/images/Logo.png" alt="Logo">
      </div>
      <div class="user float-right">
        <p class="display-i-b">User name</p>
        <img class="display-i-b" src="../assets/icons/user-logo.ico" alt="photo">
      </div>
    </header>
    <!-- Utilicé section para que sea más fácil ubicarlo y modificarlo, si tienen
    otra idea avísenme -->
    <section id="main_menu">
      <section id="home">
        <button type="button" name="Inicio">
          <img src="../assets/images/home.jpg" alt="Inicio">Inicio
        </button>
      </section>
      <section id="menu">
        <div>
          <button id="coders" class="display-i-b">CODERS</button>
        </div>
        <div>
          <button id="overview" class="display-i-b">OVERVIEW</button> <!-- Este es nombre opcional para que lo chequen -->
        </div>
        <div>
          <button id="teachers" class="display-i-b">TEACHERS</button>
        </div>
      </section>
    </section>
    <!-- Este va a ser el contenedor que cambie lo que visualizamos en la pág -->
    <section id="main_container">
      <section id="select_sede">
        <select id="buttonselect" class="display-i-b">
          <option value="NAD">Selecciona una sede</option>
          <option value="AQP" data-generation="2016-2">Arequipa, 2016-2</option>
          <option value="AQP" data-generation="2017-1">Arequipa, 2017-1</option>
          <option value="CDMX" data-generation="2017-1">Ciudad de México, 2017-1</option>
          <option value="CDMX" data-generation="2017-2">Ciudad de México, 2017-2</option>
          <option value="LIM" data-generation="2016-2">Lima, 2016-2</option>
          <option value="LIM" data-generation="2017-1">Lima, 2017-1</option>
          <option value="LIM" data-generation="2017-2">Lima, 2017-2</option>
          <option value="SCL" data-generation="2016-2">Santiago de Chile, 2016-2</option>
          <option value="SCL" data-generation="2017-1">Santiago de Chile, 2017-1</option>
          <option value="SCL" data-generation="2017-2">Santiago de Chile, 2017-2</option>
        </select>
      </section>
      <section id="container_teachers">
        <!--<div>
          <img src="../assets/images/bar-graph.png" alt="">
          <p>Aquí va la info de teachers</p>
          <p>Aquí va la info de Jedi</p>
        </div>
        <div>
          <img src="../assets/images/circle-graphic.png" alt="">
          <p>Aquí va la info de satisfacción</p>
        </div>-->
      </section>
    </section>
    <!-- Base de datos -->
		<script src="../js/data.js"></script>
		<!-- Aquí va tus archivos JS -->
    <script src="../js/app.js"></script>
    <script src="../js/appteachers.js"></script>
  </body>
</html>
