<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Teachers</title>
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <section id="select_sede">
      <select id="buttonselect" class="display-i-b" name="">
        <option value="">Select sede</option>
        <option value="">Arequipa</option>
        <option value="">Ciudad de México</option>
        <option value="">Lima</option>
        <option value="">Santiago de Chile</option>
      </select>
    </section>
    <!-- Base de datos -->
		<script src="../js/data.js"></script>
		<!-- Aquí va tus archivos JS -->
    <script src="../js/appteachers.js"></script>
  </body>
</html>
